# --- Python Artifacts ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/

# --- Databases & Diagnostic System Logs ---
*.db
*.log
.nexuspatch
Game_Patch_Package/
Nexus_Incremental_Patch/

# --- Unity Build Artifacts & Temporary Binaries ---
/[Gg]ame_[Cc]onfig.json
*_Data/
*.exe
*.dll
*.pdb
*.suo
.vs/
